h1,
p {
  font-family: Lato;
}

h4 {
  margin: 0;
  padding: 0;
}
button.go,
button.goclear,
button.pantryOption {
  transition: background-color linear 0.2s;
  padding: 11px 17px 10px 17px;
  font-size: 140%;
  border-radius: 5%;
  border-width: 2px;
}
button.go {
  background: rgb(193, 230, 193);
  margin-right: 15px;
  font-size: 140%;
}
button.goclear {

  background: rgb(206, 185, 219);
}


button.pantryOption {
  background-color: rgb(193, 230, 193);
  background: url('https://icon-library.com/images/chef-icon-png/chef-icon-png-4.jpg') no-repeat;
  background-size: cover; 
  width: 70px; 
  margin-left: 15px;
}

button.pantryOption:focus {
  outline:none;
  transition-property: opacity, left;
  transition-duration: 2s, 4s;
  
}

button.goclear:hover,
button.go:hover {
  background-color: rgb(230, 240, 241);
  transition-duration: 0.2s; /* applies to the transition *to* the :hover state */
}

.orange {
  background-color: rgb(220, 80, 40);
  border-radius: 10px;
  border-color: rgb(220, 80, 40);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
}


button.orange:active {
  background-color: rgb(220, 150, 0);
}


.searchCocktail {
  padding: 0 0 0 0;
  text-align: center;

}

.recipeIngList {
    list-style-type: none;
    display: inline-block;

}


.font {
  font-family: Georgia, serif;
}


.cocktails {
  background: transparent;
  border: none;

}