
body {
  margin: 0;
  font-family: Helvetica, Arial, Sans-Serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.menu-outer {
  height: fit-content;
  width:100%;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
}

.menu-outer{
  position:relative;
}


.logoDivTop{
  display:flex;
  flex-flow:row;
  position:absolute;
  float:left;
  left: 2%;
  align-items: center;
  height: fit-content;
  top: 50%;
  transform: translateY(-50%);
}

.logoDivTop img{
  width:70px;
  height:70px;
}

img.logoText{
  margin: 0 0.5rem;
  width:255px;
  height:34px;
  display:inline;
}


ul#horizontal-list {
	list-style: none;
  text-align: center;
  vertical-align: bottom;
  overflow: hidden;
  white-space: nowrap;
	}
	ul#horizontal-list li {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    width:100px;
  }

  @media screen and (max-width: 1500px){
  
    .logoDivTop {
      flex-flow: column;
    }

    .logoDivTop img{
      width:50px;
      height:50px;
    }

    img.logoText{
      width:127px;
      height:17px;
      margin-top: 0.5rem;
    }
  }
  
  @media screen and (max-width: 1000px){
    
    .logoDivTop{
      left: 0%;
    }

    .logoDivTop img{
      width:42px;
      height:42px;
    }

    img.logoText{
      width:102px;
      height:14px;
      margin-top: 0.5rem;
    }
  }
  
  
  @media screen and (max-width: 800px){
    ul#horizontal-list li:first-of-type{
      margin-right:20px;
    }
    ul#horizontal-list li:last-of-type{
      margin-left:20px;
    }
    ul#horizontal-list li {
      text-align:middle;
      width: 65px;
      word-wrap: normal;

    }

    .logoDivTop img {
      height: 0;
      visibility: hidden;
    }

    @media screen and (max-width: 400px) {

      ul#horizontal-list li:first-of-type{
        margin-right:10px;
      }
      ul#horizontal-list li:last-of-type{
        margin-left:10px;
      }
  
     
    }


    ul#horizontal-list li{
      width: fit-content;
    }
    ul#horizontal-list li button {
      text-align:middle;
      width: fit-content;
      white-space: inherit;
      word-wrap: normal;
    }

    ul#horizontal-list li button a {
      text-align:middle;
      display:inline-block;
      width: fit-content;
      word-wrap: break-word;
      white-space:initial;
    }
    ul#horizontal-list li button a img {
      margin: 0 auto;
      text-align:middle;
    }
  }


  @media screen and (max-width: 800px){
  }
  




.nav-bar {
  background-color: black;
}


.nav-icon {
  
  color: #FFFFFF;
  background: transparent;

  border: none;
}

.ingredient-list{
  width:100%;
}

button.logout {
  background-color: rgba(237, 228, 238, 0.781);
  padding: 0px 11px 0px 11px;
  font-size: 90%;
  border-radius: 5%;
  border-width: 0px;
  color:rgb(40,40,40);
  font-weight:400;
}

.show{
  opacity: 1;
}

.hide{
  opacity: 0;
}

.inactive{
  opacity:0.3
}

.user-status{
  border:none;
  background: transparent;
  display: inline-block;
  text-align: center;
  overflow:hidden;
}









#menu-hr{
  margin: 0 auto;
}
